#user-section{
	position: relative;
	float: left;
    width: 100%;
    padding-top: 120px;
}
#user-root{
    width: 100%;
    position: relative;
    height: auto;
    float: left;
    z-index: 99;
}
.modal{
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
    overflow: auto;
}
body.modal-opened #header{
    z-index: 1 !important;
}
#form-profile input{
    border:1px solid black;
}
table th,table td,.table > thead > tr > th{
    border:1px solid black !important;
}
.total-row{
background:#e87444 !important;
}
.table > thead > tr > th{
background: #000000 !important;
color: #ffffff !important;
}
.nav-tabs{
    max-width: 300px;
    margin: 0;
    float: left;
    position: relative;
}
.nav-tabs > li.tab-link{
    display: contents !important;
}
.tabs-content {
	max-width: 700px;
	margin: 0 auto;
    float: left;
}
@media screen and (max-width:800px){
    .nav-tabs > li.tab-link{
        display: block !important;
    }
    .tabs-content {
        max-width: none;
        margin: 0 auto;
        width: 100%;
    }
}