#user-section{
	position: relative;
	float: left;
    width: 100%;
    padding-top: 120px;
}
#user-root{
    width: 100%;
    position: relative;
    height: auto;
    float: left;
    z-index: 99;
}
.modal{
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
    overflow: auto;
}
body.modal-opened #header{
    z-index: 1 !important;
}
#form-profile input{
    border:1px solid black;
}